@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }

  body {
    background-color: rgb(241, 245, 241);
    overflow-x: hidden;
    padding: 16px;
  }
}

@layer components {
  .input-box {
    @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded mb-4 outline-none;
  }

  .btn-primary {
    @apply w-full text-sm bg-black text-white p-2 rounded my-1 border-2 border-black hover:bg-white hover:text-black;
  }

  .icon-btn {
    @apply text-xl text-slate-300 cursor-pointer hover:text-[#2B85FF];
  }

  .input-label {
    @apply text-lg font-medium text-slate-400;
  }
}
